.search-button {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	background-color: var(--theme-color);
	font-size: 1.2em;
	border: 1px solid var(--theme-color);
	border-radius: 100vw;
	color: white;
	gap: 8px;
	direction: rtl;
}

.search-button:hover {
	background-color: var(--theme-hover-color);
}

.search-icon {
	width: 1.2em;
	height: 1.2em;
}

/* background: linear-gradient(
		to left,
		#6d9de6 0%,
		#6d9de6 50%,
		#ffffff 50%,
		#ffffff 100%
	);
	background-size: 200% 100%;
	background-position: 0 0; 
	 */

/* background-position: 100% 0; */
