.carousel-outer-wrapper {
	border-top-left-radius: 2rem;
	border-top-right-radius: 2rem;
	padding-block-end: 2rem;
}

.carousel-wrapper {
	margin: 0 auto;
	max-width: 80%;
}

.title-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.carousel-item {
	direction: rtl;
}
