.item-container {
	display: flex;
	flex-direction: column;
	width: 20%;
	margin: 20px;
	box-shadow: 0 0px 4px 2px rgba(0, 0, 0, 0.2);
	transition: transform 0.15s ease-in-out;
	cursor: pointer;
}

.item-container:hover {
	transform: scale(1.1);
}

.item-header-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.item-title {
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	padding: 4px;
	margin: 0;
	font-size: 1.5em;
}

.item-header-underline {
	width: 80%;
	border-bottom: 1px solid rgb(225, 225, 225);
	margin-top: 0;
}

.item-icon {
	height: 32px;
	width: 32px;
	cursor: pointer;
}

.img-container {
	margin: 2px 0;
}

.image {
	width: 100%;
	object-fit: contain;
}

.item-footer-container {
	display: flex;
	justify-content: space-evenly;
	padding: 8px;
}

.data-container {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: space-evenly;
}

.item-data {
	margin: 2px 0px;
	font-family: Arial, Helvetica, sans-serif;
}

.price {
	font-weight: bold;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1500px) {
	.item-container {
		width: 40%;
	}
}

@media screen and (max-width: 768px) {
	.item-container {
		width: 60%;
	}
}

@media screen and (max-width: 480px) {
	.item-container {
		width: 80%;
	}

	.item-footer-container {
		font-size: 12px;
	}

	.item-title {
		font-size: 1em;
	}
}
