.item-container {
	display: flex;
	flex-direction: column;
	width: 20%;
	margin: 16px;
	border-width: 1px;

	border-radius: 5px;
	background-color: #20262e;
	color: white;
	box-shadow: 0px 0px 5px 5px rgba(240, 232, 232, 0.5);
}

.item-container:hover {
	transform: scale(1.1);
}

.item-header-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.item-title {
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	padding: 4px;
	margin: 0;
	font-size: 1.5em;
}

.item-icon {
	color: white;
	height: 32px;
	width: 32px;
	cursor: pointer;
}

.image {
	width: 100%;
	aspect-ratio: 16/9;
	object-fit: contain;
}

.item-footer-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 16px;
	padding: 8px;
}

.data-container {
	display: flex;
	flex-direction: column;
	text-align: left;
	justify-content: space-evenly;
}

.item-data {
	margin: 2px 0px;
	font-family: Arial, Helvetica, sans-serif;
}

.price-container {
	display: flex;
	align-items: center;
}

.price {
	font-weight: bold;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1500px) {
	.item-container {
		width: 40%;
	}
}

@media screen and (max-width: 768px) {
	.item-container {
		width: 60%;
	}
}

@media screen and (max-width: 480px) {
	.item-container {
		width: 80%;
	}

	.item-footer-container {
		font-size: 12px;
	}

	.item-title {
		font-size: 1em;
	}
}
