.floating-buttons {
	position: fixed;
	bottom: 6rem;
	left: 2rem;
	z-index: 1000;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

.button {
	width: 2rem;
	aspect-ratio: 1;
	color: #fff;
	border: none;

	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	transition: background-color 0.3s ease;
}

.facebook {
	background-color: #1877f2;
}

.instagram {
	background: #f09433;
	background: -moz-linear-gradient(
		45deg,
		#f09433 0%,
		#e6683c 25%,
		#dc2743 50%,
		#cc2366 75%,
		#bc1888 100%
	);
	background: -webkit-linear-gradient(
		45deg,
		#f09433 0%,
		#e6683c 25%,
		#dc2743 50%,
		#cc2366 75%,
		#bc1888 100%
	);
	background: linear-gradient(
		45deg,
		#f09433 0%,
		#e6683c 25%,
		#dc2743 50%,
		#cc2366 75%,
		#bc1888 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.phone {
	background-color: rgb(96, 221, 162);
	cursor: pointer;
}

.button:hover {
	background: none;
	background-color: #494747;
}

.icon {
	width: 80%;
	height: 80%;
}

.contacts-popup-window {
	position: absolute;
	min-width: 240px;
	top: -0.5rem;
	left: 0;
	transform: translateY(-100%);
}

.flex-row-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	color: white;
}

.toggle-icon {
	background-color: transparent;
	border: none;
	color: white;
	cursor: pointer;
}

.section {
	background-color: rgb(96, 221, 162);
	padding: 0.75rem;
}

.upper {
	border-top-right-radius: 2rem;
	border-top-left-radius: 2rem;
}

.lower {
	border-bottom-right-radius: 2rem;
	border-bottom-left-radius: 2rem;
}

.location-image {
	width: 100%;
}

.contact-info {
	width: 100%;
	color: white;
	margin: 4px;
	padding: 4px;
}

/* @media screen and (max-width: 1920px) {
	.floating-buttons {
		left: 5rem;
	}
} */
