.list-outer-container {
	width: 100%;
	text-align: center;
	box-shadow: 0 2px 4px rgb(0, 0, 0, 0.1);
}

.title {
	color: black;
	font-size: 36px;
	font-weight: bold;
	padding: 8px;
}

.list {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 16px;
}

.selected-car-info-window {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 48px;
	z-index: 9999;
	background-color: rgb(248, 245, 245);
	border-style: solid;
	border-radius: 20px;
	border-width: 2px;
	box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.4);
}

.selected-car-close-button {
	position: absolute;
	top: 20px;
	right: 20px;
	color: black;
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.selected-car-close-icon {
	min-width: 24px;
	min-height: 24px;
}
