.search-bar-outer-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	max-width: max-content;
	padding: 8px;
	margin: 8px;
	background-color: #20262e;
	border-radius: 10px;
	border-width: 1px;
	border-style: solid;
	border-color: white;
}

.basic-search-container {
	display: flex;
	flex-direction: row;
	align-items: baseline;
}

.search-button {
	border-radius: 99px;
	background-color: #6d9de6;
}

.icon-button {
	margin: 8px;
	padding: 8px;
	font-size: larger;
	cursor: pointer;
}

/* advanced search form popup styles */
.advanced-search-window {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: fixed;
	max-width: 50%;
	max-height: 80%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 9999;
	background-color: #20262e;
	border-radius: 25px;
	border-style: solid;
	border-color: white;
	border-width: 1px;
	/* Additional styling properties like width, height, etc. */
}

.advanced-search-window-top-section {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	box-shadow: 0 2px 4px white;
	.close-button {
		border: none;
		background-color: transparent;
		cursor: pointer;
	}

	p {
		cursor: pointer;
		text-decoration: underline;
	}
}

.advanced-search-window-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 8px 10% 16px 10%;
	overflow: auto;
	ul {
		margin: 0;
		padding: 8px;
		justify-content: space-evenly;
	}
}
