.expanding-input-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	border: 1px solid var(--grey);
	border-radius: 100vw;
	padding: 1rem;
	cursor: pointer;
	position: relative;
	color: var(--text-color);
}

.expanding {
	position: absolute;
	top: 100%;
	left: 0;
	box-sizing: border-box;
	background-color: white;
	max-height: 0;
	width: 100%;
	border: none;
	transform: translateY(1.25rem);
	z-index: 5;
	transition: max-height 0.2s ease-in-out;
}

.expanding-inner-wrapper {
	width: 100%;
	max-height: inherit;
	margin-block: 1.5rem;
	overflow-y: scroll;
	overflow-x: hidden;
}

.expanding-inner-wrapper.expanded {
	border-top: solid 1px var(--light-grey);
}

.expanding.expanded {
	display: flex;
	border: solid 1px var(--light-grey);
	max-height: 250px;
}

.expanded-list {
	list-style: none;
	width: 100%;
	margin: 0;
	padding: 0;
}

.expanded-list-item {
	padding: 8px;
	width: 100%;
	color: var(--text-color);
	font-weight: var(--main-font-weight);
}

.arrow-down-icon {
	width: 1.2em;
	height: 1.2em;
}
