.footer-outer-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding: 2px 8px 2px 8px;
	h3 {
		margin: 4px 0 4px 0;
	}

	box-shadow: 0 -2px 4px 2px rgba(0, 0, 0, 0.2);
}

.footer-inner-container {
	display: flex;
	flex-direction: column;

	p {
		margin: 0;
		padding: 4px 0;
	}
}
.link {
	color: #0000ff;
}

.footer-button {
	background-color: transparent;
	border: none;
	margin: 0;
	padding: 4px 0;
	text-align: right;
	font-size: 1em;
	cursor: pointer;
}
