.footer-outer-container {
	background-color: var(--second-color);
}

.footer-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 2rem;
	margin: 0 auto;
	max-width: var(--max-content-width);
}

.rights-text {
	display: flex;
	align-items: center;
}

.back-to-top-button {
	display: flex;
	align-items: center;
	justify-content: center;

	background-color: var(--theme-color-080);
	border: none;
	transition: background-color 0.2s ease-in-out;
	aspect-ratio: 1;
	color: #fff;
	width: 3rem;
	font-size: 1.5rem;
}

.back-to-top-button:hover {
	background-color: var(--theme-hover-color);
}
