.nav-bar-outer-container {
	display: flex;
	flex-direction: row;

	padding: 8px;
	margin-bottom: 8px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-bar-button {
	background-color: transparent;
	border-width: 0;
	text-align: center;
	color: #1d1b1b;
	font-size: 16px;
	padding: 14px 16px;
	cursor: pointer;
	transition: all 0.3s ease;

	&:hover {
		text-decoration: underline;
	}
}

a {
	display: inline;
	text-decoration: none;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
	.nav-bar-button {
		font-size: 12px;
		padding: 7px 8px;
	}
}
