.footer-outer-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;

	padding: 0 8px 12px 8px;

	h3 {
		margin: 4px 0 4px 0;
	}
}

.footer-inner-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	p {
		margin: 0;
		padding: 4px 0;
	}
}
