.search-outer-container {
	width: 100%;
	box-shadow: 0 2px 4px rgb(0, 0, 0, 0.1);
}
.search-center-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 80%;
	margin-left: 10%;
	margin-bottom: 8px;
}

.title {
	color: black;
	font-size: 2em;
	font-weight: bold;
	padding: 8px;
}

.search-flex-row-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.search-flex-column-container {
	display: flex;
	flex-direction: column;
	/* flex: 1; */
	width: 30%;
	padding: 8px;
	margin: 8px;
	align-items: center;

	box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);

	h3 {
		margin: 4px;
		padding: 4px;
	}
}

.basic-search-form {
	display: flex;
	flex-direction: column;
	width: 90%;

	ul {
		margin: 0;
		padding: 8px;
		justify-content: space-evenly;
	}
}

.form-label {
	display: flex;
	flex-direction: column;
}

.form-submit {
	font-size: 16px;
	margin: 8px;
	border-radius: 999px;
	padding: 8px;
	display: inline-block;
	background: linear-gradient(
		to right,
		#6d9de6 0%,
		#6d9de6 50%,
		#ffffff 50%,
		#ffffff 100%
	);
	background-size: 200% 100%;
	background-position: 100% 0;
	transition: background-position 0.3s;
	cursor: pointer;
}

.form-submit:hover {
	background-position: 0 0;
}

.body-type-list {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
}

.body-type-list li {
	display: flex;
	flex-direction: column;
	flex-basis: 25%;

	cursor: pointer;
	align-items: center;

	padding: 8px;
}

.range-inputs {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 0px 4px 8px 4px;
	padding: 4px;
}

.input-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 50%;

	input {
		max-width: 100%;
	}
}

.range,
.form-input {
	margin: 4px;
	font-size: 12px;
	font-weight: bold;
	background-color: white;
	padding: 4px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1500px) {
	.search-flex-column-container {
		width: 50%;
	}

	.search-flex-row-container {
		flex-direction: column;
		align-items: center;
	}
}
