.list-outer-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	text-align: center;
}

.list {
	display: flex;
	justify-content: center;
	width: 80%;
	gap: 0.5rem;
	flex-wrap: wrap;
}

/* @media screen and (max-width: 1500px) {
	.list {
		justify-content: space-evenly;
	}
} */
