.search-outer-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-bottom: 8px;
}
.search-center-container {
	width: 80%;
}

.search-flex-row-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.search-flex-column-container {
	display: flex;
	flex-direction: column;
	width: 30%;
	padding: 8px;
	margin: 8px;
	align-items: center;
	box-shadow: 0 0px 4px 2px rgba(0, 0, 0, 0.2);
}

/* MEDIA QUERIES */

@media screen and (max-width: 1500px) {
	.search-flex-column-container {
		width: 50%;
	}

	.search-flex-row-container {
		flex-direction: column;
		align-items: center;
	}
}

@media screen and (max-width: 960px) {
	.search-flex-column-container {
		width: 75%;
	}
}

@media screen and (max-width: 480px) {
	.search-flex-column-container {
		width: 90%;
	}
}
