.search-outer-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	margin-bottom: 8px;
	box-shadow: 0px 2px 4px rgba(240, 232, 232, 0.5);
}
.search-center-container {
	width: 80%;
	text-align: center;
}

.title {
	color: white;
	font-size: 2em;
	font-weight: bold;
	padding: 8px;
}

.search-flex-row-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.search-flex-column-container {
	display: flex;
	flex-direction: column;
	width: 30%;
	padding: 8px;
	margin: 8px;
	align-items: center;
	background-color: #20262e;
	box-shadow: 0px 0px 4px 2px rgba(240, 232, 232, 0.5);

	h3 {
		margin: 4px;
		padding: 4px;
	}
}

.basic-search-form {
	display: flex;
	flex-direction: column;
	width: 90%;

	ul {
		margin: 0;
		padding: 8px;
		justify-content: space-evenly;
	}
}

.form-submit {
	font-size: 16px;
	margin: 8px;
	border-radius: 999px;
	padding: 8px;
	display: inline-block;
	background: linear-gradient(
		to right,
		#6d9de6 0%,
		#6d9de6 50%,
		#ffffff 50%,
		#ffffff 100%
	);
	background-size: 200% 100%;
	background-position: 100% 0;
	transition: background-position 0.3s;
	cursor: pointer;
}

.form-submit:hover {
	background-position: 0 0;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1500px) {
	.search-flex-column-container {
		width: 50%;
	}

	.search-flex-row-container {
		flex-direction: column;
		align-items: center;
	}
}

@media screen and (max-width: 960px) {
	.search-flex-column-container {
		width: 75%;
	}
}

@media screen and (max-width: 480px) {
	.search-flex-column-container {
		width: 90%;
	}
}
